#todo-form {               
    input[type=text]{
        box-shadow: 1px 1.5px 5px 0px rgb(200, 200, 200);
    }

    input[type=submit] {
        position: absolute;    
        right: 12px;
        top: 8px;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        color: grey;
        font-weight: bold;
        cursor: pointer;
        transition: all 300ms ease;

        
        &:hover{
            color: rgb(156, 156, 156);           
        }        
    }
}

.container #todo-list {
    margin-top: 40px;  
    
    .todo-item
    {   
        margin-bottom: 15px;
        position: relative;   
        
        .delete {
            height: 18px;
            width: 18px;
            cursor: pointer; 
            position: relative;    

            &:before, &:after {
                content: '';
                position: absolute;
                left: 50%;                
                height: 100%;
                width: 4px;
                background-color: grey;
            }
    
            &:before {
                transform: rotate(45deg);
            }
    
            &:after {
                transform: rotate(-45deg);
            }
        }

    }

    .todo-item-input
    {  
        padding : 18px;
        border: none;
        border-radius: 7px;
        font-size: 1.2rem; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;        
        font-size: 1.1rem;        
        transform-style: preserve-3d;
        transition: all 0.2s ease; 
        background-color: white;
        color: rgb(97, 97, 97);    
        position: relative;                  
    }
    

    input[type=submit]{                           
        transform: rotate(45deg);     
        font-size: 2rem;
        font-weight: bold;
        background-color: transparent;
        border: none;
        color: grey;
        font-weight: bold;
        cursor: pointer;          
        text-decoration: none !important;                            

        &:hover{
            color: rgb(156, 156, 156);           
        }       

    }

    .checkbox-fake{                                                   
        width: 15px;
        height: 15px;
        border: 2.5px solid grey;
        box-shadow: 1px 0.5px 0px 0 grey;
        position: absolute;                         
    }      

    input[type=checkbox]  {
        height: 40px;
        width: 40px;                                                
        position: absolute;        
        left: 10px;
        top: 10px; 
        opacity: 0;        
        z-index: 1;       
        
        &:checked + .todo-item-input{           
            animation-name: flip;
            animation-timing-function: ease;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
            animation-delay: 50ms;
        } 

        &:checked + .todo-item-input .delete{           
            &:before, &:after {                               
                background-color: white;
            }
        } 
        
        &:checked + .todo-item-input .checkbox-fake{                                                                    
            height: 15px;
            width: 7.5px;                
            border-bottom: 4px solid white;
            border-right: 4px solid white;
            border-top: 0;
            border-left: 0;    
            box-shadow: none;  
            transform: rotate(45deg) translate(3px, -5px);                                                 
            z-index: 10;                            
        }  
        
    }

    p{
        padding-left: 25px;
    }
}

@keyframes flip {
    0%{
        transform: rotateX(0deg);
    }
    50%{
        opacity: 0;
        transform: rotateX(90deg); 
    }
    100% {       
        color: white;          
        background-color: #5a36e7;   
        text-decoration: line-through;
        opacity: 1;
        transform: rotateX(0deg);
    }
}

